.container_game {
  align-items: center;
  background: rgba(41, 40, 40, 0.781);
  border: solid 2px rgba(41, 40, 40, 0.8);
  border-radius: 20px;
  box-shadow: 0 0 26px rgba(224, 226, 236, 0.8);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  margin: 3% auto;
  text-align: center;
  width: 80%;
}
