.container_login {
  align-items: center;
  display: flex;
  height: 98%;
  justify-content: center;
  position: absolute;
  width: 99%;
}

.boxLogin {
  align-items: center;
  background: linear-gradient(90deg, rgba(34, 45, 195, 0.8), rgba(253, 45, 63, 0.8));
  border-radius: 20px;
  box-shadow: 0 0 26px rgba(224, 226, 236, 0.8);
  display: flex;
  flex-flow: column nowrap;
  height: 50%;
  justify-content: space-evenly;
  text-align: center;
  width: 40%;
}
